<%= provide(:description, 'This page describes language services provided by translator, editor, and proofreader Hillary Keel') %>  
<%= provide(:keywords, 'translation, language training, German') %>
<div class="hero-unit center">
	<%= image_tag "vienna.jpg" %>
	<%= image_tag "hk-2.jpg" %>
	<%= image_tag "hk-3.jpg" %>
		<h2 class="center">
			<%= provide(:title, 'Translation, Language Training, Editing') %>
			Translation, Language Training, and Editing
		</h2>
</div>


<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span6"> 
				<p><strong>German and English</strong> language training tailored to personal, professional, academic or business needs.</p> 
				<p><strong>Current positions</strong>: I am an adjunct instructor for German at Hunter College, where I teach courses on the German language and the German Fairy Tale.</p>
			</div>
			<div class=" span5 offset1">	
				<p><b>Translation, Editing, Proofreading Services.</b>
	 Translations from German or French into English. I facilitate translations into these languages as well.</p>
			</div>
		</div>
		<div class="row">
			<div class="span6"> 
					<p><strong>Clients include</strong> Art History Museum of Vienna; Intersection Magazine; the Community of Translators in Vienna; the Office of the Lower Austrian Provincial Government; the Austrian Federal Ministry of Agriculture, Forestry, Environment and Water Management; authors and artists Heinz Wiesbauer, Eva Ursprung, Giovanni Rindler, Marlen Schachinger, Rhiannon Augenthaler, Walter Brandau, Sylvia Petter, Günther Kaip, Paul Gottlieb, Ellen Weinberg Mausner, Carola Platzek, and Kathrin Schedl.
					</p>
					<p>&nbsp;</p>
					<p class="muted credit">Photo (l): <i>Ferris Wheel, Vienna</i> by Daniela Beuren<br>Photo (r): <i>Caf&eacute; Pr&uuml;ckel</i> by Sandra Huber</p>	

				</div>
				<div class=" span5 offset1">	
					<p><strong>Says one private client</strong>,</p> <blockquote><p>Having spent nearly thirty years in Austria, Hillary has the skills of a native speaker, but the patience to sympathize with the challenges of learning German as a second language. Her enthusiasm for German literature and culture make it especially fun to engage with the language … With Hillary's guidance, I feel like I've been able to improve my German skills significantly within just a few months. I've also been able to find an apartment in Berlin thanks to Hillary's help with communicating with lessors in German. I would recommend her to anybody learning German, whether they are learning for work or just for fun.</p>Frances Provine</blockquote>
					<p>&nbsp;</p>
				</div>
		</div>
	</div>
</div>
